<link rel="stylesheet" href="/stylesheets/footer.css">

<footer>
    <section>
        <nav class="logo-footer" > <a href="/"><img src="/images/logo_footer.svg" alt="logo beauty salon"></a> </nav>
    
        <nav class="marca-footer" > ©2021 Beautysalon. </nav>
    
        <nav class="direitos-footer" > Todos os direitos reservados. </nav>
    </section>
    <nav class="redes-sociais-footer" >
        <a href="https://www.instagram.com/"><img src="/images/instagram.svg" alt="logo instagram"></a>
        <a href="https://www.facebook.com/"><img src="/images/facebook.svg" alt="logo facebook"></a>
        <a href="https://www.youtube.com/"><img src="/images/youtube.svg" alt="logo youtube"></a>
    </nav>

</footer>