<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    
    <section>
       <p>ERRO 404, Página NÃO ENCONTRADA</p>
    </section>
    
    <%- include('./partials/footer') %>
</body>
</html>