<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    
    <section>
    <p>Página Sobre</p>
    </section>
    
    <%- include('./partials/footer') %>
</body>
</html>