 /*CONFIGURACAO CSS GLOBAL*/
 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

 /*---------------------------- */ 

/* ---------CSS HEARDER---------*/
header{
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    height: 72px;  
    border-bottom: 1px #E4E4E4 solid;
    margin-bottom: 10px;
}

.logo {
    width: 144px;
    height: 32px;
    margin: 20px 0px 20px 24px;
}



.menu_hamburguer {
    width: 18px;
    height: 12px;
    margin: 30px 27px 30px 0px;
}

.menu_trad {
    display: none;
}
 /*---------------------- */ 

/* Responsabilidade Header*/

@media(min-width:870px){

    .logo {
        width: 144px;
        height: 32px;
        margin: 18px 0px 23px 145px;
    }


    .menu_hamburguer {
        display: none;
    }
    
    .menu_trad {
        list-style-type: none;
        display: block;
        display: flex;
        justify-content:end;
        padding: 0;
        height: 71px;
        margin: 0;
        margin-right: 123px;
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
    }
    .menu_trad li {
        
        margin-left: 32px;
        display: flex;
        align-items: center;
        transition: 100ms;

    }

    .menu_trad li:hover {
        border-bottom: 2px #69B99D solid;
        color:#69B99D;

    }
    
    .menu_trad li a{
        display: flex;
        align-items: center;
        height: 71px;
        color: #0F241D;
        transition: 650ms;
    }

    .menu_trad li a:hover{
        color:#69B99D;
    }

}
/* ---------CSS HEARDER---------*/

