@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html, body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
  
}

 /*---------------------------- */ 

/* ---------CSS HEARDER---------*/
header{
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    height: 72px;  
    border-bottom: 1px #E4E4E4 solid;
    margin-bottom: 10px;
}

.logo {
    width: 144px;
    height: 32px;
    margin: 20px 0px 20px 24px;
}



.menu_hamburguer {
    width: 18px;
    height: 12px;
    margin: 30px 27px 30px 0px;
}

.menu_trad {
    display: none;
}
 /*---------------------- */ 

/* Responsabilidade Header*/

@media(min-width:870px){

    .logo {
        width: 144px;
        height: 32px;
        margin: 18px 0px 23px 145px;
    }


    .menu_hamburguer {
        display: none;
    }
    
    .menu_trad {
        display: block;
        display: flex;
        justify-content: space-around;
        height: 72px;
        margin: 0;
        padding: 25px 123px 25px 0px;
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
    }

    .menu_trad li{
        margin: 0px 32px 0px 0px;

   }
}

/* ---------CSS HEARDER---------*/

/* ---------CSS FOOTER---------*/

footer{
    height: 294px;
    background-color: #69B99D;
    display: flex;
    flex-direction: column;
    
}

.logo-footer {
    margin: 64px 0px 24px 24px;
    display: flex;
    align-items: center;
}

.marca-footer{
    color: #F9F9F9;
    font-size: 1rem;
    margin: 0px auto 12px 24px;
}

.direitos-footer {
    color: #F9F9F9;
    font-size: 1rem;
    margin: 0px auto 34px 24px;
}

.redes-sociais-footer{
    margin: 0px auto 34px 24px;
    display: flex;
    align-items: center;
}
.redes-sociais-footer a{
    width: 25px;
    height: 25px;
    margin: 0px 35px 0px 0px;
}

/* Responsabilidade Header*/

@media(min-width:870px){
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 123px; 
    }

    .redes-sociais-footer{
        margin: 0;
    }
}
/* ---------CSS FOOTER---------*/